<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/test.css') }}">
<meta charset="utf-8">
<body id="body3">
<h6>portfolize.</a>

</h6><a href ="http://localhost:5000/">></a>
<h2>Start Investing Today!</h2>
Does investing scare you? Honestly, it scares me too! This is why we, 
Brian and I, have developed a simple web-app that strategizes an index-driven 
investment portfolio, one of the most stable forms of investment, for all of us! 
Whether you like to actively trade or hold on to your money until you see your account flooding on 
returns, you will be able to strategize your very own portfolio, taylored for your own goals. No, we don't advertize 
cliche big-name stocks on you. Instead, we simply provide you with the most optimal index based portfolio of instruments 
that you can choose to invest in!
<h2>How Do You Determine Which Indices to Invest In?</h2>
We have referenced to Goldman Sach's portfolio strategy that includes: 
US Large Cap Markets, Fixed Income Derivatives, US Real Estate, Emerging Market Debt, 
and even some international markets such as International Real Estate and Private Equity! 
We have gathered the historical data on indices for different types of markets to create the 
most optimal portfolio. Additionally, we have also taken into account the Sharpe Ratio, a risk adjusted variable, 
to include the effect of volatility in our model.
<h2>What Languages/Packages Did You Guys Use?</h2>
For developing the model, we primarily used Python's pandas and statsmodels data analysis tool
 to analyze and forecast the future expected prices of indices using time series regression and 
 AutoRegression Modeling, a simple machine learning method. For front-end, we decided to build 
 this on a webapp platform for a universal access. As expected, we've used html, 
CSS and flask mostly for the front end. We've also deployed the website using Heroku platform!
<h2>What Challenges Did You Guys Run Into, and What Did You Guys Learn?</h2>
Trying to come up with the most accurate and efficient modeling was definitely the most challenging task. 
Deploying the website was also very difficult but we managed to do it. I definitely learned a lot about 
predictive modeling, especially time series regression and it was 
a good experience for Brian to polish his front-end development and deployment skills!
</body>
</html>