<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/test.css') }}">
<meta charset="utf-8">
<title>portfolize.</title>
<body id="body1">
    <h1>portfolize.</h1>
   <h3>Index Driven Portfolio.</h3>
   <form id = "form-id" action = "https://salty-ridge-11736.herokuapp.com/success" method = "POST">
    <h5>Investment Budget (Minimum $1000)</h5>
    <input name = "Budget" type="number" min="1000">
    <p>
    <h5>Weeks until selling (1 to 250 weeks)</h5>
        <input name = "goal" type = "number" min="1" max="250">
    </p>
    <p>
        <select name="risk">
            <option value="low risk">Low Risk</option>
            <option value="high risk">High Risk</option>
        </select>
    </p>
    <p>
    <input name = "submit_button" type = "submit" value = "submit" />
    </p>
</form>
<p></p><a href = "https://salty-ridge-11736.herokuapp.com/about">Learn more about portfolize</a></p>
</body>
</html>
